name: Build and deploy

on:
  push:
    branches: [ master ]
  pull_request:
    types: [closed]
    branches: [ master ]

jobs:
  test-netcore-linux:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.101

      - name: Run tests netcoreapp3.1
        run: dotnet test -c Release -f netcoreapp3.1

  test-netcore-win:
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v1

    - name: Run tests netcoreapp3.1
      run: dotnet test -c Release -f netcoreapp3.1
      
  test-net461:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v1

      - name: Run tests net461
        run: dotnet test -c Release -f net461
    
  nuget:
    runs-on: windows-latest
    needs: [test-netcore-win,test-netcore-linux,test-net461]

    steps:
    - uses: actions/checkout@master

    - name: Setup Nuget.exe
      uses: warrenbuckley/Setup-Nuget@v1

    - name: Nuget Push
      run: |
        nuget setApiKey ${{ secrets.NUGET_API_KEY }}
        nuget push *.nupkg
